<a href="https://colab.research.google.com/github/mingyeoll/BP_10_Ch6/blob/main/BP_10_Ch6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
for i in range(2, 101):   #2시작 끝101로 반복 루프를 설정함
 if i%2==0 :      #만약에 2로 나누어 떨어진다면
   print(i,end = " ")   #출력 처음부터 끝까지

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [7]:
year = 0
balance = 1000
while balance <= 2000 : 
  year = year + 1
  interest = balance * 0.07
  balance = balance + interest
print(year, "년이 걸립니다.")

11 년이 걸립니다.

In [15]:
n = 1234
sum = 0
while n > 0 :
  digit = n % 10
  sum = sum + digit
  n = n // 10
print(sum)

10

In [8]:
ans = 0
while ans != 3*9:     # while의 조건은 3*9의 정답이다
 ans = int(input("3*9는"))
print("맞았습니다.")    #출력 맞았습니다.

3*9는27
맞았습니다.

In [13]:
sum = 0
while True:
  x = int(input("정수를 입력하시오: "))
  if x == 0:
    break;
    sum = sum + x
print("합은 ", sum, "입니다.")

정수를 입력하시오: 1
정수를 입력하시오: 2
정수를 입력하시오: 3
정수를 입력하시오: 4
정수를 입력하시오: 5
정수를 입력하시오: 0
합은  0 입니다.

In [14]:
from random import randint

for i in range(3) :
  d1 = randint(1, 6)
  d2 = randint(1, 6)
  print("첫번째 주사위=", d1, "두번째 주사위=", d2)

첫번째 주사위= 3 두번째 주사위= 4
첫번째 주사위= 3 두번째 주사위= 2
첫번째 주사위= 2 두번째 주사위= 2